[submodule "React-Ecommerce-Frontend"]
	path = React-Ecommerce-Frontend
	url = https://github.com/gitsaugat/React-Ecommerce-Frontend.git
[submodule "Ecommerce-Backend"]
	path = Ecommerce-Backend
	url = https://github.com/gitsaugat/Ecommerce-Backend.git
